@media screen and (max-width: 499px) {
    html {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 899px) {
    html {
        font-size: 1.0vw;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 10px;
    }
}

html {
    background-color: #fff;
    color: #333;
    font-family: 'Gaegu', cursive;
}

body {
    font-size: 2.4rem;
}

footer {
    margin-top: 4.3rem;
}

footer::before {
    border-top: 0.3rem solid #ffb3b3;
    content: '';
    display: block;
    position: relative;
    top: -1.0rem;
}

footer p {
    padding-right: 1.0rem;
    margin: 0;
    text-align: right;
}

h1 {
    background-color: #ffb3b3;
    margin: 0;
    padding: 2.0rem;
}

h2 {
    margin-top: 6.3rem;
    margin-bottom: 3.0rem;
}

h2::before {
    border-top: 0.3rem solid #ffb3b3;
    content: '';
    display: block;
    position: relative;
    top: -3.0rem;
}

img {
    padding: 1.0rem;
    max-width: 95%;
}
